[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ImGuiColorTextEdit"]
	path = ImGuiColorTextEdit
	url = https://github.com/Xrysnow/ImGuiColorTextEdit.git
[submodule "implot"]
	path = implot
	url = https://github.com/epezent/implot.git
[submodule "imgui_markdown"]
	path = imgui_markdown
	url = https://github.com/Xrysnow/imgui_markdown.git
