[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "imgui_markdown"]
	path = imgui_markdown
	url = https://github.com/juliettef/imgui_markdown.git
[submodule "ImGuiColorTextEdit"]
	path = ImGuiColorTextEdit
	url = https://github.com/Xrysnow/ImGuiColorTextEdit.git
